.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 7px;
  background: transparent;
  direction: rtl;
  font-family: "Heebo", "Segoe UI", sans-serif;
  font-size: 1.2rem; /* הגדלנו את הפונט הכללי */
  color: #4a3a2a;
}

.table th,
.table td {
  text-align: center;           /* מרכז אופקית */
  vertical-align: middle;      /* מרכז אנכית */
}

.table th {
  background: #e4dbcf;
  color: #7a6c5d;
  font-weight: bold;
  padding: 16px 10px;
  border-radius: 10px 10px 0 0;
  font-size: 1.2rem;
}

.table td {
  background: #fff;
  padding: 14px 10px;
  border-bottom: 1px solid #e4dbcf;
  font-size: 1.4rem;
  border-radius: 0 0 10px 10px;
  font-weight: 500;
}


.table tr {
  box-shadow: 0 2px 6px #00000008;
  transition: background 0.2s ease;
}

.table tr:hover {
  background: #f3f0ed;
}

.actionGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.actionBtn {
  background: #d2bba0;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px; /* כפתור טיפה גדול */
  transition: background 0.2s;
}

.actionBtn:hover {
  background: #bfae9e;
}
.table th:nth-child(1),
.table td:nth-child(1) {
  width: 180px;
  white-space: nowrap;
}
.table th:nth-child(6),
.table td:nth-child(6),.table th:nth-child(5),
.table td:nth-child(5) {
  width: 140px;
  white-space: nowrap;
}
.table th:nth-child(2),
.table td:nth-child(2) {
  width: 190px;
  white-space: nowrap;
}
.table th:nth-child(3),
.table td:nth-child(3),.table th:nth-child(4),
.table td:nth-child(4) {
  width: 80px;
  white-space: nowrap;
}